.post {
    cursor: pointer;
    &_small {
        .post__img {
            height: 142px;
            background: transparent;
        }
        .post__title {
            margin-bottom: 17px;
        }
    }

    &__data {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #06d6a0;
    }

    &__title {
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        cursor: pointer;
    }

    &__img {
        // background-color: #fff;
        width: 100%;
        margin-bottom: 17px;
        img {
            max-width: 100%;
            // height: 100%;
            object-fit: contain;
        }
    }

    &_medium {
        .post__img {
            height: 199px;
        }

        .post__title {
            margin-bottom: 10px;
        }
    }

    &_large {
        .post__img {
            height: 312px;
        }

        .post__title {
            margin-bottom: 14px;
        }
    }
}
.close {
    display: none;
}
.modal {
    // position: fixed;
    // top: 1000;
    // left: 500;
    // transform: translate(-50%, -50%);
    // background: rgba(#000, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 1;
}
@media (max-width: 764px) {
    .post__title {
        padding-top: 15px;
        font-size: 22px;
    }
}

@media (max-width: 540px) {
    .post__img {
        img {
            width: 100%;
            // height: 100%;
            // object-fit: cover;
        }
    }
    .post_small {
        .post__img {
            max-width: 100%;
            height: 180px;
            margin-bottom: 8px;
        }
    }
    .post_large {
        .post__img {
            max-width: 100%;
            height: 200px;
            margin-bottom: 8px;
        }
    }
}
