.contacts {
    background: url(../../../img/contactsbg.png) no-repeat,
        url(../../../img/contacts.png) no-repeat;
    background-size: cover, auto 100%;
    background-position: right;

    &__text {
        padding: 122px 0 79px;
        max-width: 530px;
    }

    &__title {
        font-weight: 400;
        font-size: 78px;
        line-height: 78px;
        color: #ffffff;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #ffffff;
        margin: 60px 0;
    }
}
