@import '../../mixins.scss';

.header-art {
    &__img {
        width: 100%;
        height: 462px;
        margin: 49px auto 62px;
        background: url(../../img/article.png) no-repeat;
        background-size: cover;
    }

    &__title {
        // @include adaptiv-font(40, 28);
        // @include adaptiv-font(40, 28);
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        color: #000;
        margin-bottom: 23px;
        font-family: 'KarloffNeutralPro', sans-serif;
    }

    &__description {
        font-weight: 400;
        // @include adaptiv-font(28, 20);
        font-size: 28px;
        line-height: 34px;

        color: #ff592c;
        // margin-bottom: 50px;
        padding-bottom: 103px;
    }
}

.content-art {
    &__img {
        width: 100%;
        height: 522px;
        background: url(../../img/paragraph.png) no-repeat;
        background-size: cover;
        margin-bottom: 137px;
    }
}

.author-info {
    margin: 0 auto;

    &__img {
        width: 187px;
        height: 194px;
        border: solid 1px #000;
        border-radius: 50%;
        margin: 30px auto;
    }

    &__name {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
        text-align: center;
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        img {
            width: 28px;
            height: 28px;
            margin-right: 15px;
        }
    }
    &__description {
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        max-width: 956px;
        margin: 25px auto;

        color: #000000;
    }
}
