@import '../../../mixins.scss';
.quote {
    width: 100%;
    border: 2px solid #ff592c;
    border-radius: 69px;
    text-align: center;
    padding: 49px 64.97px 50px 65.83px;
    margin: 100px 0;
    font-weight: 400;
    @include adaptiv-font(44, 32);
    font-size: 44px;
    line-height: 70px;
    text-align: left;
}
