@media (max-width: 1110px) {
    .box {
        width: 700px;
    }
}
@media (max-width: 960px) {
    .box {
        width: 540px;
    }
}
@media (max-width: 780px) {
    .box {
        width: 300px;
    }
}
@media (max-width: 540px) {
    .box {
        width: 150px;
    }
}
