.box {
    text-align: center;
    max-width: 961px;
    margin: 0 auto;
}

.scrollableContainer {
    position: relative;
    display: flex;
}

.carousel_list {
    display: flex;
    overflow-x: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.author__button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}

.item {
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    flex-shrink: 0;
    padding: 7px 16px 7px 17px;
    border-radius: 32px;
}

.item.active {
    background: #ff592c;
    color: #fff;
}

.item:not(:last-child) {
    margin-right: 15px;
}
// .carousel_button {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     width: 36px;
//     height: 36px;
//     border-radius: 50%;
//     border: none;
//     background-color: #fff;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//     font-size: 1.2rem;
//     cursor: pointer;
//     z-index: 2;
// }

.buttonLeft {
    left: -20px;
    min-width: 32px;
    border: none;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.1s;
    svg {
        transform: rotate(180deg);
    }
}

.buttonRight {
    outline: none;
    border: none;
    right: -20px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    transition: 0.1s;
    cursor: pointer;
}

.button--hidden {
    opacity: 0;
}

@media (max-width: 1110px) {
    .box {
        width: 700px;
    }
}
@media (max-width: 960px) {
    .box {
        width: 540px;
    }
}
@media (max-width: 780px) {
    .box {
        width: 300px;
    }
    .authors__list ul li {
        margin-right: 0;
        margin-left: 0;
    }
}
@media (max-width: 540px) {
    .box {
        width: 150px;
    }
}
