.button {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    padding: 17px 25px 18px 26px;
    background: #ff592c;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}
