.footer {
    background: #000;
    padding-top: 60px;
    border-radius: 0 0 300px;
    padding-bottom: 94px;

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
        opacity: 0.4;
        margin-bottom: 40px;
    }

    &__menu ul {
        display: flex;
        justify-content: flex-start;

        li {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #fff;
            margin-right: 32px;
        }
    }

    &__lists {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
    }
}

.list {
    // margin-top: 60px;
    // margin-bottom: 152px;
    // margin-right: 84px;
    margin: 60px 84px 152px 0;
    &__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: rgba(#fff, 0.4);
        margin-bottom: 38px;
    }

    &__items {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #fff;

        li {
            padding-bottom: 8px;
        }
    }
}

@media (max-width: 540px) {
    .list {
        margin: 54px 77px 64px 0;

        &:nth-child(2) {
            margin-right: 20px;
        }
    }
}
