@import '../../mixins.scss';
.header {
    // background: url(../../img/bgline.svg) no-repeat,
    //     url(../../img/Vector.svg) no-repeat, url(../../img/bg.png) no-repeat;
    // background-size: 800px, 1122px, cover;
    // background-position: 600px 0, left -58px bottom -68px, center;
    // padding-bottom: 85px;
    // background: url(../../img/bgline.svg) no-repeat,
    //     url(../../img/bg.png) no-repeat;
    // background-size: 900px, cover;
    // background-position: 500px 0, center;
    background: linear-gradient(
        to right,
        #fff 0%,
        #fff 50%,
        #dfe8ff 50%,
        #dfe8ff 100%
    );
    height: 720px;
    position: relative;

    &__img_none {
        display: none;
    }

    &__img_left {
        z-index: 0;
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 10%;
        object-fit: cover;
    }
    &__img_center {
        z-index: 0;
        position: absolute;
        top: 78px;
        left: 24%;
        height: 100%;
        width: 50%;
    }
    // &__img_line {
    //     z-index: -1;
    //     transform: rotate(-30deg);
    //     position: absolute;
    //     top: -28%;
    //     left: -7%;
    //     height: 135%;
    // }

    &__bg {
        background: #232323;
        height: 100vh;
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    &-top {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 289px;

        &__logo {
            width: 120px;

            svg {
                fill: #000;
            }
            &_black {
                svg {
                    fill: #fff;
                }
            }
        }

        &__menu {
            display: flex;
            align-items: center;
            ul {
                display: flex;

                li {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 18px;
                    margin-right: 46px;

                    a {
                        color: #fff;
                    }
                }
            }
        }

        &__button {
            color: #fff;
            padding: 8px 17.35px;
            background: #5835ff;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.25s;
            z-index: 1;

            &-menu {
                margin-left: 15px;
                border: none;
                outline: none;
                background: transparent;
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 24px;
                height: 24px;
                cursor: pointer;

                svg {
                    fill: #000;
                    width: 4px;
                    height: 4px;
                }
            }
        }
    }

    &-content {
        // background: url(../../img/Vector.svg) no-repeat;
        // background-position: left -50px bottom 0;
        // padding-bottom: 85px;
        // // position: absolute;
        // // top: 25%;
        // // left: 55%;
        // margin-left: auto;
        margin-top: 192px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 15px;
        position: absolute;

        &__title {
            @include adaptiv-font(90, 40);
            font-weight: 400;
            // font-size: 90px;
            // line-height: 90px;
            color: #000;
            margin-bottom: 30px;
            font-family: 'KarloffNeutralPro', sans-serif;
        }

        &__subtitle {
            font-weight: 400;
            @include adaptiv-font(24, 22);
            // font-size: 30px;
            margin-bottom: 48px;
            line-height: 40px;
            color: #000;
            max-width: 678px;
        }

        &__button {
            cursor: pointer;
            min-width: 199px;
            height: 48px;
            font-size: 18px;
            line-height: 24px;
            background-color: #ff592c;
            border: none;
            border-radius: 8px;
            -webkit-transition: background 0.5s ease;
            transition: background 0.5s ease;
            color: #fff;

            &:hover {
                color: #000;
            }
        }
    }
}

@media (max-width: 770px) {
    .header-top__logo {
        width: 126px;
    }
    .header {
        overflow: hidden;
        background: #dfe8ff;
        &__img_left {
            display: none;
        }
        &__img_center {
            display: none;
        }
        // &__img_line {
        //     display: none;
        // }
        padding-bottom: 20px;
        height: 680px;

        &-top {
            display: none;
        }

        &-content {
            justify-content: flex-start;
            margin-top: 300px;
            background: #fff;
            border-radius: 0 50% 0 0;
            margin-left: 0;
            bottom: 0;
            left: 0;

            &__title {
                font-weight: 400;
                font-size: 40px;
                line-height: 50px;
                padding-left: 15px;
                padding-top: 20px;
            }

            &__subtitle {
                font-weight: 400;
                font-size: 22px;
                line-height: 30px;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 30px;
            }
        }
    }
}
