@import '../../mixins.scss';
.header {
    background: url(../../img/bgline.svg) no-repeat,
        url(../../img/Vector.svg) no-repeat, url(../../img/bg.png) no-repeat;
    background-size: 800px, 1122px, cover;
    background-position: 600px 0, left -58px bottom -68px, center;
    // padding-bottom: 85px;
    // background: url(../../img/bgline.svg) no-repeat,
    //     url(../../img/bg.png) no-repeat;
    // background-size: 900px, cover;
    // background-position: 500px 0, center;
    height: 720px;

    &-top {
        padding-top: 9px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 289px;

        &__logo {
            line-height: 52px;
            font-size: 29px;
            color: #fff;
            font-weight: 400;
            cursor: pointer;
            font-family: 'KarloffNeutralPro', sans-serif;
        }

        &__menu {
            display: flex;
            align-items: center;
            ul {
                display: flex;

                li {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 18px;
                    margin-right: 46px;

                    a {
                        color: #fff;
                    }
                }
            }
        }

        &__button {
            color: #fff;
            padding: 8px 17.35px;
            background: #5835ff;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.25s;
        }
    }

    &-content {
        // background: url(../../img/Vector.svg) no-repeat;
        // background-position: left -50px bottom 0;
        padding-bottom: 85px;
        &__title {
            @include adaptiv-font(90, 40);
            font-weight: 400;
            // font-size: 90px;
            // line-height: 90px;
            color: #000;
            margin-bottom: 30px;
            font-family: 'KarloffNeutralPro', sans-serif;
        }

        &__subtitle {
            font-weight: 400;
            @include adaptiv-font(30, 22);
            // font-size: 30px;
            line-height: 40px;
            color: #000;
        }
    }
}
@media (min-width: 1814px) {
    .header {
        background-size: 800px, 75vw, cover;
        background-position: 455px 0, left -58px top 0, center;
    }
}

@media (max-width: 1813px) {
    .header {
        background-size: 800px, 75vw, cover;
        background-position: 455px 0, left -58px top 2vh, center;
    }
}
@media (max-width: 1540px) {
    .header {
        background-size: 800px, 1122px, cover;
        background-position: 455px 0, left -58px bottom -68px, center;
    }
}

@media (min-width: 1441px) {
    .header-content {
        &__title {
            font-size: 90px;
        }
        &__subtitle {
            font-size: 30px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        // background-image: url(../../img/bgmini.png);
        padding-bottom: 20px;

        height: 680px;
        &-top {
            display: none;
        }
        &-content {
            padding-top: 425px;
        }
    }
}
