.navbar {
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 3;

    &__cross {
        display: block;
        fill: #fff;
    }
    &__list {
        opacity: 1;
        z-index: 1;
        transition: 0s;
        // display: block;

        &_hide {
            opacity: 0;
            z-index: -1;
            // display: none;
        }
    }

    &_white {
        background: #fff;

        .navbar {
            &__wrap {
                color: #000;
            }
            &__logo {
                svg {
                    fill: #000;
                }
            }
            &__menu {
                ul {
                    li {
                        a {
                            color: #000;
                        }

                        svg {
                            fill: #000;
                        }
                    }
                }
            }
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        position: relative;
    }

    &__logo {
        font-weight: 400;
        font-size: 29px;
        line-height: 52px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'KarloffNeutralPro', sans-serif;
        svg {
            fill: white;
        }
    }

    &__search {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: -1;
        transition: 0s;
        // display: none;

        &_show {
            opacity: 1;
            z-index: 1;
            // display: block;

            svg {
                fill: #fff;
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            align-items: center;

            li {
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                margin-right: 51px;
                a {
                    color: #fff;
                }
                svg {
                    fill: #fff;
                }
            }
        }

        svg {
            cursor: pointer;
        }
    }
}

.none_mob {
    display: block;
}

.none {
    display: none;
}

.dots {
    display: none;
}

@media (max-width: 970px) {
    .navbar__menu ul li {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .dots {
        display: block;
        z-index: 5;
        fill: #000;
        cursor: pointer;
    }
    .none_mob {
        display: none;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        background: transparent;
        color: #000;
        // transition: 0.3s;
        width: 100%;
        z-index: 2;

        &_black {
            background: #000;
            color: #fff;
            height: calc(100vh + 98px);
        }
        &_white {
            .navbar__menu ul li a {
                color: #fff;
            }
            .navbar__menu ul li svg {
                fill: #fff;
            }
        }

        &__menu {
            // z-index: -3;
            // opacity: 0;
            transition: 0.3s;
            display: none;
            z-index: 2;

            &_show {
                // z-index: 1;
                // opacity: 1;
                display: block;
                z-index: 2;
            }
            ul {
                position: absolute;
                display: flex;
                flex-direction: column;
                left: 0;
                top: 45px;
                width: 100%;
                background-color: #000;
                height: calc(100vh + 40px);
                padding-left: 15px;
                padding-top: 42px;
                z-index: 3;

                li {
                    padding-bottom: 34px;
                    font-size: 24px;
                    z-index: 3;

                    &:last-child {
                        order: -1;
                    }
                }
            }
        }
        svg {
            margin-right: 17px;
            z-index: 2;
        }

        &__wrap {
            margin-top: 8px;
            background: #dfe8ff;
            border-radius: 8px;
            margin-bottom: 4px;
            height: 50px;
            // transition: 0.3s;
            z-index: 2;

            svg {
                fill: #000;
            }

            &_black {
                background: #000;
                color: #fff;
                z-index: 2;
                svg {
                    fill: #fff;
                }
            }
        }

        &__logo {
            margin-left: 16px;
            color: #000;
            font-size: 27px;
            padding: 0;
            z-index: 2;
            line-height: 50%;

            a {
                color: #000;

                svg {
                    width: 126px;
                }
                &.black {
                    color: #fff;
                    z-index: 2;
                    svg {
                        fill: #fff;
                    }
                }
            }
        }
        &__search {
            position: absolute;
            top: 100px;
            width: 100%;
            z-index: 2;
        }
    }
}
