@font-face {
    font-family: 'KarloffNeutralPro';
    src: url(./fonts/KarloffNeutralPro.otf);
}
@font-face {
    font-family: 'Brutal Type';
    src: url(./fonts/BrutalType.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    // max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    font-family: 'Brutal Type', sans-serif;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrap {
    max-width: 956px;
    margin: 0 auto;
    padding: 0 15px;
}
