.subscribe {
    background: url(../../../img/subscribe.png) no-repeat, #000;
    background-position: left, right;
    // background-size: cover, cover;

    &__block {
        width: 100%;
        height: 494px;
        position: relative;
    }

    &__content {
        max-width: 519px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &__subtitle {
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        color: #ffffff;
        margin-bottom: 30px;
    }
    &__button {
        margin-top: 61px;
        align-self: flex-end;
    }
}
// .subscribe {
//     background: #1e344a;
//     color: white;
//     &__content {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         form {
//             padding-top: 40px;
//             padding-bottom: 57px;
//             width: 395px;
//             display: flex;
//             flex-direction: column;
//         }
//     }

//     &__subtitle {
//         font-weight: 400;
//         font-size: 32px;
//         line-height: 36px;
//         max-width: 519px;

//         color: #ffffff;
//     }
//     &__button {
//         margin-top: 46px;
//         align-self: flex-end;
//     }
// }
