@import '../../../mixins.scss';
.paragraph {
    // padding-bottom: 15px;
    margin-bottom: 55px;

    &_light {
        background: #dfe8ff;
    }
    &__title {
        padding-top: 63px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 56px;

        h3 {
            @include adaptiv-font(32, 20);
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: #000000;
            max-width: 546px;
            text-align: center;

            a {
                color: #ff592c;
                cursor: pointer;
            }
        }
        h2 {
            @include adaptiv-font(32, 20);
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: #000000;
            max-width: 546px;
            text-align: center;

            a {
                color: #ff592c;
                cursor: pointer;
            }
        }

        svg {
            &:first-child {
                margin-right: 8px;
            }
            &:last-child {
                margin-left: 8px;
            }
        }
    }

    &__content {
        figure {
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
                margin: 55px 0;
            }
        }
        p {
            @include adaptiv-font(24, 20);
            padding-bottom: 36px;
            font-weight: 400;
            line-height: 40px;

            a {
                text-decoration: underline;
                color: #ff592c;
            }
        }

        ul {
            list-style-type: disc;
            margin-bottom: 26px;
            margin-left: 20px;

            li {
                margin-bottom: 10px;
            }
        }
    }
}

.privacy-policy-tutorial {
    display: none;
}
