@import '../../../mixins.scss';
.paragraph {
    margin-bottom: 55px;

    &__title {
        padding-top: 63px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 56px;

        h3 {
            @include adaptiv-font(32, 20);
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: #000000;
            max-width: 546px;
            max-width: 100%;
            text-align: left;

            a {
                color: #ff592c;
                cursor: pointer;
            }
        }
        h2 {
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: #000000;
            max-width: 546px;
            text-align: left;
            max-width: 100%;
            a {
                color: #ff592c;
                cursor: pointer;
            }
        }
        h1 {
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: #000000;
            max-width: 546px;
            text-align: center;

            a {
                color: #ff592c;
                cursor: pointer;
            }
        }
        h2.has-background {
            background: #dfe8ff;
        }
        h3.has-background {
            background: #dfe8ff;
        }
        h1.has-background {
            background: #dfe8ff;
        }

        svg {
            &:first-child {
                margin-right: 8px;
            }
            &:last-child {
                margin-left: 8px;
            }
        }
    }

    &__content {
        figure {
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
                margin: 55px 0;
            }
        }

        p.has-background {
            background: #dfe8ff;
        }
        p {
            @include adaptiv-font(24, 20);
            // padding-bottom: 36px;
            font-weight: 400;
            line-height: 40px;
            padding-bottom: 20px;
            // font-size: 24px;

            img {
                width: 100%;
                height: 100%;
            }

            a {
                text-decoration: underline;
                color: #ff592c;
            }
        }

        ul {
            list-style-type: disc;
            margin-bottom: 26px;
            margin-left: 20px;

            li {
                margin-bottom: 10px;
            }
        }
    }
}

blockquote {
    width: 100%;
    border: 2px solid #ff592c;
    border-radius: 69px;
    text-align: center;
    padding: 49px 64.97px 50px 65.83px;
    margin: 100px 0;
    font-weight: 400;
    font-size: 44px;
    line-height: 70px;
    text-align: left;
}

.privacy-policy-tutorial {
    display: none;
}

.section-container_light {
    background: #dfe8ff;
}
@media (max-width: 540px) {
    .paragraph__title {
        margin-bottom: 25px;
        padding-top: 25px;

        h1 {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
        }

        h2 {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
        }
    }
}
